body {
  background-color: #f3f1ec;
  font-family: 'Open Sans', sans-serif;
  color: #2D2609;
}

.col-xs-12.col-md-12.logo {
  margin-top: 5%;
  text-align: center;
}

.col-xs-12.col-md-12.logo > img {
  width: 40%;
  min-width: 350px;
}

.navbar-default {
  background: #99e5c8;
  text-align: center;
}

.navbar-btn {
  background: transparent;
  border: none;
  font-size: 1.5em;
  font-family: 'Itim', cursive;
}

.navbar-btn:hover, .navbar-btn:focus, .navbar-btn.active, .navbar-btn:active, .navbar-btn:active:focus, .open>.dropdown-toggle.navbar-btn {
  color: #ffffff;
  background-color: #601e14;
  border-color: #cca9a3;
  background: #601e14;
  box-shadow: none;
}

.col-xs-12.col-md-12.footer {
  font: bold .75em 'Itim', 'cursive';
  text-align: center;
  margin-bottom: 5%;
}

.col-xs-12.col-md-12.header {
  text-align: center;
  color: #601e14;
  font: 1.75em 'Open Sans', sans-serif;
}

.btn-primary {
    color: #ffffff;
    background-color: #80281a;
    border-color: #601e14;
    margin-top: 5%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary:active, .btn-primary:active:focus, .open>.dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #b37e76;
    border-color: #cca9a3;
}

.col-xs-12.col-md-12.submit {
  text-align: center;
}

.progress-bar-custom {
  background-color: #b37e76;
  color: #2D2609;
}

.col-xs-12.col-md-8.col-md-offset-2.gather {
  text-align: center;
}

.row.seed {
  margin: 20% 0% 5% 0%;
}
