body {
  background-color: #f3f1ec;
  font-family: 'Open Sans', sans-serif;
  color: #2D2609;
}

.col-xs-12.col-md-12.logo {
  margin-top: 5%;
  text-align: center;
}

.col-xs-12.col-md-12.logo > img {
  width: 40%;
  min-width: 350px;
}

.navbar-default {
  background: #99e5c8;
  text-align: center;
}

.navbar-btn {
  background: transparent;
  border: none;
  font-size: 1.5em;
  font-family: 'Itim', cursive;
}

.navbar-btn:hover, .navbar-btn:focus, .navbar-btn.active, .navbar-btn:active, .navbar-btn:active:focus, .open>.dropdown-toggle.navbar-btn {
  color: #ffffff;
  background-color: #601e14;
  border-color: #cca9a3;
  background: #601e14;
  box-shadow: none;
}

.col-xs-12.col-md-12.footer {
  font: bold .75em 'Itim', 'cursive';
  text-align: center;
  margin-bottom: 5%;
}

.col-xs-12.col-md-12.header {
  text-align: center;
  color: #601e14;
  font: 1.75em 'Open Sans', sans-serif;
}

.btn-primary {
    color: #ffffff;
    background-color: #601e14;
    border-color: #601e14;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary:active, .btn-primary:active:focus, .open>.dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #b37e76;
    border-color: #cca9a3;
}

.col-xs-12.col-md-12.submit {
  text-align: center;
}

.progress-bar-custom {
  background-color: #b37e76;
  color: #2D2609;
}

.progress-striped.active {
  margin-top: 2%;
}

.col-xs-12.col-md-8.col-md-offset-2.gather {
  text-align: center;
}

.row.seed {
  margin: 2% 0% 2% 0%;
}

#seedling {
  width: 50%;
}

.col-xs-12.col-md-8.col-md-offset-2.well {
  text-align: center;
}

a {
  color: #601e14;
}

.col-xs-12.col-md-12.gather {
  margin-bottom: 5%;
}

.modal-header.send {
  font-family: 'Itim', 'cursive';
  background-color: #99e5c8;
  color: #2D2609;
}

.modal-header.reward {
  font-family: 'Itim', 'cursive';
  text-align: center;
  background-color: #99e5c8;
  color: #2D2609;
}

.modal-body.reward {
  text-align: center;
}

span.badge {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #b37e76 !important;
  color: #ffffff !important;
}

.unlocked.flowers {
  width: 250px;
  margin-bottom: 10px;
}

.col-xs-12.col-md-4.unlocked {
  text-align: center;
}

.panel-title {
  font-size: 1em;
  text-align: left;
}

p.instructions {
  text-align: left;
}

.btn.btn-primary.send {
  margin-bottom: 50px;
}

.col-xs-12.col-md-6.response {
  text-align: center;
}
