<div class="modal-header send">
  <h3 class="modal-title">Send a Flower</h3>
</div>

<div class="modal-body send">
  <form>
    <div class="form-group">
      <uib-accordion>
        <div uib-accordion-group class="{{sCtrl.panelStatus}}" heading="Verify Destination Phone Number" is-open="sCtrl.isCollapsed">
          <div uib-collapse="!sCtrl.isCollapsed">
            <div uib-alert class="{{sCtrl.alertType}}" ng-show="sCtrl.alertCode" close="sCtrl.closeAlertCode()">{{sCtrl.alertCode}}</div>
            <label for="telephone">{{sCtrl.panelMessage}}</label>
            <input type="tel" class="form-control" aria-describedby="verifyHelp" pattern="\d{3}[\-]\d{3}[\-]\d{4}" placeholder="123-456-7890" ng-model="sCtrl.verificationPhone" required>
            <small id="verifyHelp" class="form-text text-muted">Only U.S. phone numbers accepted.</small>
            <div>
              <button type="submit" class="btn btn-primary" ng-click="sCtrl.submitRegistration(sCtrl.verificationPhone)">sign up for texts</button>
            </div>
          </div>
        </div>
      </uib-accordion>
    </div>
  </form>

  <form>
  <div uib-alert class="{{sCtrl.formAlertType}} form-group">
    <div>
      <label for="telephone">{{sCtrl.formAlert}}</label>
      <input type="tel" class="form-control" aria-describedby="telHelp" pattern="\d{3}[\-]\d{3}[\-]\d{4}" placeholder="123-456-7890" ng-model="sCtrl.destinationPhone" required>
      <small id="telHelp" class="form-text text-muted">Only U.S. phone numbers accepted. Please be sure to <a ng-click="sCtrl.open()"><strong>verify the destination phone number</strong></a>.</small>
    </div>
  </div>

  <div class="form-group">
    <img ng-value="sCtrl.flowerId" ng-src="{{sCtrl.url}}"/>
  </div>

  <div class="form-group">
    <label for="AffirmationMessage">Affirmation to Send:</label>
    <textarea class="form-control" maxlength="160" placeholder="Type affirming message you want to send. Limited to 160 characters." rows="2" ng-model="sCtrl.message"></textarea>
  </div>
  </form>
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-success" ng-value="sCtrl.userId"  ng-click="sCtrl.submitForm(sCtrl.destinationPhone, sCtrl.message, sCtrl.userId, sCtrl.flowerId, sCtrl.flowerUrl)">Send</button>
  <button class="btn btn-danger" ng-click="sCtrl.closeModal()">Cancel</button>
</div>
